@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'); /* Outfit */

* {
    padding: 0;
    margin: 0;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-optical-sizing: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 32px;
}

.left-nav {
    display: flex;
    align-items: center;
}

.right-nav {
    display: flex;
    align-items: center;
}

.left-nav span,
.right-nav span,
.btn-login,
.bth-register {
    padding: 0px 16px;
}

.hero {
    background-image: url('./assets/vmtc-hero.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    height: 100vh;
    width: 100vw;
}

.hero-text {
    padding: 2rem;
    width: 33%;
}

.hero-text h1 {
    font-size: 4.5rem;
}

.hero-text h3 {
    padding-top: 1.4rem;
    font-size: 2.2rem;
}

.features-container {
    background-color: #000;
    color: #fff;
}

.features-container h1 {
    text-align: center;
    font-size: 4.5rem;
    padding-top: 64px;
}

.features-container h3 {
    font-size: 2.2rem;
}

.feature-1 {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    padding-top: 128px;
}

.feature-text {
    width: 50%;
}

.feature-1 p {
    font-size: 32px;
}